.hammerVisual {
  position: fixed;
  max-width: 224px;
  /* height: 300px; */
  pointer-events: none;
  z-index: 150;
  filter: drop-shadow(2px 4px 5px rgba(0, 0, 0, 0.9));
}

.hammerSVG {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

@media (max-width: 768px) {
  .hammerVisual {
    width: 100px;
    height: 250px;
  }
}
