.splash_main {
  background-color: var(--clr-primary);
  width: 100vw;
  height: 100vh;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--clr-white-ish);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  overflow: hidden;
  gap: 48px;
}

.splash_main h1 {
    letter-spacing: clamp(-5px, calc(-1.25px - 0.3125vw), -2px);
}

.splash_button {
  box-shadow: var(--shadow-splash-button-hover);
}