.notification {
  background: var(--clr-primary);
  color: var(--clr-white-ish);
  padding: 12px 16px;
  border-radius: 12px;
  box-shadow: var(--shadow-elevation-2);
  text-align: center;
}

.notificationContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.completionNotification {
  box-shadow: var(--shadow-elevation-3);
  width: min(296px, 90%);
}