@font-face {
  font-family: 'Jost';
  src: url('../assets/fonts/Jost-VariableFont_wght.woff2') format('woff2-variations');
  font-weight: 100 600;
  font-style: normal;
  font-display: swap;
}

/* @link https://utopia.fyi/type/calculator/?c=360,16,1.25,1920,20,1.414,6,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  /* 16px → 20px */
  --fontsize-p: clamp(1rem, 0.9423rem + 0.2564vw, 1.25rem);
  /* 20px → 28.28px */
  --fontsize-h6: clamp(1.25rem, 1.1306rem + 0.5308vw, 1.7675rem);
  /* 25px → 39.9879px */
  --fontsize-h5: clamp(1.5625rem, 1.3463rem + 0.9608vw, 2.4992rem);
  /* 31.25px → 56.5429px */
  --fontsize-h4: clamp(1.9531rem, 1.5883rem + 1.6213vw, 3.5339rem);
  /* 39.0625px → 79.9517px */
  --fontsize-h3: clamp(2.4414rem, 1.8517rem + 2.6211vw, 4.997rem);
  /* 48.8281px → 113.0517px */
  --fontsize-h2: clamp(3.0518rem, 2.1255rem + 4.1169vw, 7.0657rem);
  /* 61.0352px → 159.8551px */
  --fontsize-h1: clamp(3.8147rem, 2.3894rem + 6.3346vw, 9.9909rem);
}


:where(p, button, span) {
  font-size: var(--fontsize-p);
}
:where(h6) {
  font-size: var(--fontsize-h6)
}
:where(h5) {
  font-size: var(--fontsize-h5)
}
:where(h4) {
  font-size: var(--fontsize-h4)
}
:where(h3) {
  font-size: var(--fontsize-h3)
}
:where(h2) {
  font-size: var(--fontsize-h2)
}
:where(h1) {
  font-size: var(--fontsize-h1)
}

:where(h1, h2, h3, h4, h5, h6) {
  font-family: Jost, Arial, Helvetica, sans-serif;
  line-height: 1.15;
  font-weight: 400;
  letter-spacing: -1px;
}

:where(p, ul, ol, li, a, button, label, input, textarea, span) {
  font-family: 'Jost', Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 1.5;
}