.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding-inline: 12px;
  padding-block: 8px;
  height: 50px;
  background: var(--clr-primary);
  color: var(--clr-white-ish);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 3px 3px hsl(0, 0%, 0%);
}

.gameStats {
  display: flex;
  gap: 24px;
  align-items: center;
}

.statItem {
  color: var(--clr-white-ish);
}

.reset_button {
  padding-block: 2px;
}